<% include ../header %>
<form class="ui form" action="/api/iot/services" method="post">
    <input type="hidden" id="page" name="page" value="1">
    <div class="ui comments">
        <h4 class="ui header">Selection des Services IOT</h3>
    </div>
    <div class="contents">
        <div class="ui four column grid">
            <div class="row">
                <div class="column">
                    <div class="ui selection dropdown fw_service">
                        <input id="inpService" type="hidden" name="fw_service" value="<%= fw_service %>">
                        <div class="default text">Service</div>
                        <i class="dropdown icon" data-content="FIWARE Service"></i>
                        <div class="menu">
                            <div class="item" data-value="*">Any FIWARE Service</div>
                            <% fw_services.forEach(function (fw_srv) { %>
                                <div class="item" data-value="<%= fw_srv %>"><%= fw_srv %></div>
                            <% }) %>
                        </div>                        
                    </div>
                </div>
                <div class="column">
                    <div class="ui selection dropdown fw_servicepath">
                        <input id="inpSubService" type="hidden" name="fw_servicepath" value="<%= fw_servicepath %>">
                        <div class="default text">ServicePath</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="/*">Any FIWARE ServicePath</div>
                            <% fw_servicepaths.forEach(function (fw_srp) { %>
                                <div class="item" data-value="<%= fw_srp %>"><%= fw_srp %></div>
                            <% }) %>
                        </div>               
                    </div>
                </div>
                <div class="column">
                    <button type="submit" name="action" value='{"todo": "services"}' class="ui left floated small primary labeled submit icon button">
                        <i class="filter icon"></i> Appliquer la Sélection
                    </button>
                </div>
                <div class="column">
                    <button id="btnNoSel" type="submit" name="action" value='{"todo": "services"}' class="ui left floated small primary labeled submit icon button">
                        <i class="list icon"></i> Annuler la Sélection
                    </button>
                </div>
            </div>
        </div>
        <input id="fwServiceKeys" type="hidden" name="fw_servicekeys" disabled value="<%= fw_servicekeys %>">
        <input id="defServiceKey" type="hidden" name="def_servicekey" disabled value="<%= def_servicekey %>">
    </div>
    <div class="ui comments iotlist">
        <h4 class="ui header">Liste des Services IOT <% if (pager.nb_pages > 1) { %><i><%= '(page ' + pager.current_page + ' of ' + pager.nb_pages + ')' %></i><% } %></h4>
    </div>
    <div class="contents iotlist">
            
            <table class="ui fixed celled table">
                <thead>
                    <tr class="seven">
                        <th><%= list[0].label %></th>
                        <th><%= list[1].label %></th>
                        <th><%= list[2].label %></th>
                        <th><%= list[3].label %></th>
                        <th colspan="3">
                            <button type="submit" name="action" value='{"todo": "create"}' class="ui left floated small primary labeled submit icon button">
                                <i class="folder open icon"></i> Créer 
                            </button>
                            <div class="ui right floated mini pagination menu">
                                <% if (pager.current_page == 1) { %> 
                                <a class="item active" data-value="1">1</a>
                                <% } else { %>
                                <a class="item" data-value="1">1</a>
                                <% } %>
                                <% if (pager.nb_pages > 1) { %>
                                    <% if (pager.has_previous_page) { %>
                                        <a class="icon item"data-value="<%= (pager.first_page - pager.pager_modulo) %>"><i class="left chevron icon"></i></a>    
                                    <% } %>
                                <% } %>
                                <% for (let index_page = pager.first_page; index_page < (pager.first_page + pager.pager_modulo); index_page++) { %>
                                    <% if (index_page < pager.nb_pages) { %>
                                        <% if (index_page == pager.current_page) { %>
                                            <a class="item active" data-value="<%= index_page %>"><%= index_page %></a>
                                        <% } else { %>
                                            <a class="item" data-value="<%= index_page %>"><%= index_page %></a>
                                        <% } %>
                                    <% } %>
                                <% } %>
                                <% if (pager.nb_pages > 1) { %>
                                    <% if (pager.has_next_page) { %>
                                        <a class="icon item" data-value="<%= (pager.first_page + pager.pager_modulo) %>"><i class="right chevron icon"></i></a>
                                    <% } %>
                                <% } %>
                                <% if (pager.nb_pages > 1) { %>
                                    <% if (pager.current_page != pager.nb_pages) { %>
                                        <a class="item" data-value="<%= pager.nb_pages %>"><%= pager.nb_pages %></a>
                                    <% } else { %>
                                        <a class="item active" data-value="<%= pager.nb_pages %>"><%= pager.nb_pages %></a>
                                    <% } %>
                                <% } %>
                            </div>
                            <span style="display: none;" >
                                <input id="inpPager" type="submit" name="action" value='{"todo": "pager"}'>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% services.forEach(function(service)  { %>
                        <tr>
                            <td>
                                <%= service[list[0].name] %>
                            </td>
                            <td>
                                <%= service[list[1].name] %>
                            </td>
                            <td>
                                <%= service[list[2].name] %>
                            </td>
                            <td>
                                <%= service[list[3].name] %>
                            </td>
                            <td>
                                <button type="submit" name="action" value='{"todo": "update", "_id": "<%= service._id %>"}' class="ui left floated small primary labeled submit icon button">
                                    <i class="edit icon"></i> Modifier
                                </button>
                            </td>
                            <td>
                                <button type="submit" name="action" value='{"todo": "clone", "_id": "<%= service._id %>"}' class="ui left floated small primary labeled submit icon button">
                                    <i class="clone icon"></i> Dupliquer
                                </button>
                            </td>
                            <td>
                                <button type="submit" name="action" value='{"todo": "delete", "_id": "<%= service._id %>"}' class="ui left floated small primary labeled submit icon button">
                                    <i class="trash icon"></i> Supprimer
                                </button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
    </div>
</form>
<% include ../footer %>